/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */

 html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7ead7;
  color: black;
}

/*
 * SR-ONLY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
 }


/*
 * SHARED STYLES
 */

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.0rem;
  /*Help organize whole page layout into several flex boxes (this is the main flexbox)*/
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  /*flex-wrap: wrap; save for later?*/
}

/*edit sub text under h1*/
.sub-text {
  color:grey;
  margin-top:15px;
  margin-bottom: 50px;
}

 /*Layout for header*/
 header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#F2E8CF;
}

header .header--banner--logo {
  height: 3rem;
  padding: 8px;
  background-color:black;
  border-radius:12px;
}

header .header--banner--nav ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

header nav.header--banner--nav {
  margin-left: auto;
  margin-right: 1rem;
}

header nav.header--banner--nav ul li a {
  font-size: 0.8rem;
  color: #F2E8CF;
  text-decoration: none;
  font-weight: 800;

  background: black;
  padding: 12px;
  border-radius: 12px;
}

/*Layout for wrapper*/
.wrapper {
  margin-top:100px;
  margin-bottom: 100px;
}
.wrapper ul li  {
  display:flex;
  flex-direction: column;
  flex-direction: column-reverse;
  text-align:start;
  font-size: 20px;
  font-weight:900px;
  padding:50px;
}
.grid-container-task {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  list-style-type: none;
}
.item-1 {
  grid-column-start: 1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:3;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: rgb(212, 164, 209);
}

.item-2 {
  grid-column-start: 3;
  grid-row-start: 1;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #ffb0e9;
}

.item-3 {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: ;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #f77edd;
}

.item-4{
  grid-column-start: 3;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #99d0f3;
}

.item-5 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #a5e1ff;
}

.item-6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #ca78ce;
}

/*Style to fomrat Amy & info*/
.personal {
  display:flex;
  margin-bottom:100px;/*edit later*/
}

.hey {
  margin-bottom: 20px;
}

.personal-info {
  display:flex;
  margin-left: 25px;
  width: 400px;
  flex-direction: column;
  text-align: left;
  justify-content:center;
}

.personal-contact{
  background: rgb(248, 163, 219);
  padding: 12px;
  border-radius: 12px;
  width: 170px;
  margin-top: 20px;
}

.personal-contact ul li a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #000000;
  font-weight: 800;
}

.list {
  list-style-type: none;
}

/*Styles for My Work part*/
.my-work {
  display: flex;
  flex-flow: row;
  justify-content: center;


}








/*styles for images*/
main img {
  border-radius:25px;
  position: relative;
  width: 450px;
  height: 550px; 
  object-fit: cover;
}